/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --background-color: var(--accent-text-color);
  --title-color: var(--accent-color);
  --decoration-border-color: solid var(--accent-color);
  --decorated-text-display: block;
  --menu-button-color: var(--accent-color);
  --menu-button-active-color: var(--accent-color);
  --menu-button-hover-color: #ff007066;
  --menu-button-focus-color: var(--accent-color);
}
